.footer {
  padding: 40px;
  background-color: #f2f2f2;
  text-align: center;
  border: rgb(179, 177, 177) 1px solid;
}

.footer h5 {
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer p {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
